body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5e5d5d;
  }

  .form-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .form-container h1 {
    text-align: center;
    margin-top: 0;
  }


  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  select,
  textarea  {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
  }

  input[type="radio"] + label {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  /* Form buttons */
  input[type="submit"],
  input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  input[type="reset"] {
    background-color: #f44336;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #3e8e41;
  }
